body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.search {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #2f8efc;
}

.card {
  margin-top: 20px;
}

.details {
  text-align: left;
  margin-top: 15px;
}

.loading { color: green; }
.error { color: red; }
